.container {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin: 16px;
  width: 45%;
}
.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}
.tableContainer {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ddd;
  font-size: 18px;
}
.th {
  background-color: #d5cdcd;
  text-align: left;
  padding: 12px;
}
.td {
  text-align: left;
  padding: 12px;
}

.tr {
  border-bottom: 1px solid #ddd;
}

.tr:hover {
  background-color: #f1f1f1;
}
.total {
  font-size: 24px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
